#body{
    background-image: url(pics/hatter/adam-patterson-v13x0qU4afA-unsplash.jpg);
}
#bodyfo{
    background-color: burlywood;
}
#feher{
    color: white;
}
.logo{
    height: 3%;
    width: 3%;
}